<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head.ejs') %>
</head>

<body>

    <div class="wrapper">
		<div class="container">
			<main><%- body %></main>			
		</div>
    </div>
</body>

</html>